.portfolio-item p{
  font-size:18px;
}
.portfolio-item h1{
  font-size:24px;
}
.portfolio p span{
  display:inline-block;
  font-weight:bold;
}
.blog{
  background-color:#153855;
  width:100%;
  height:auto;
  text-align:center;
  padding-top:1px;
  padding-bottom:1px;
}
.blog a {
  text-decoration:none;
  color:white;
  cursor:pointer;
}
.blog a h1{
  margin:20px;
  font-family:"Source Sans Pro" ,sans-serif;
  transition:all ease-in-out 0.25s;
}
.blog a h1:hover{
  color:#6cade4;
}
.blog a h4{
  padding-bottom:15px;
  font-size:14px;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

footer{
  padding-top:30px;
  padding-bottom:30px;
}
