#banner {
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../../images/side-profile.png");
}

#wrapper > * > .inner {
  margin-bottom: 60px;
}

#banner.major {
  min-height: 40em;
}

.description {
  font-size: 1.2em;
}

#three article {
  width: 100%;
}

.skills-section {
  width: 90%;
  z-index: 2;
  margin-bottom: 60px;
  margin-top: 60px;
}
.skills-section ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
}
.skills-section ul li {
  min-width: 4em;
  height: 4em;
}
.skills-section ul li div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: 0.25s ease-in-out all;
}
.skills-section ul li div i {
  font-size: 50px;
}
.skills-section ul li div:hover {
  background-color: white;
  opacity: 0.5;
  transform: scale(1.2);
}
.skills-section ul li div:hover i {
  color: #242943;
}