                          // MIXINS
@mixin blogFormat{
  padding:0;
  width:360px;
  height:540px;
  background-color:#fff;
  margin-left:20px;
  margin-top:20px;
  @include text;
  h2{
  font-size:25px;
  font-weight:700;
  margin-left:28px;
  max-width:300px;
  }
  p{
    margin-top:28px;
    margin-left:28px;
    color:#818181;
  }
  img:nth-of-type(2){
    position:absolute;
    bottom:26px;
    left:26px;
  }
}
@mixin text{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align:left;
  font-weight:700;
}
@mixin center{
  float:none;
  clear:both;
  margin:auto;
  margin-top:20px;
}
                        // VARIABLES
                      // GLOBALSTYLES
body{
  max-width:1600px;
  height:1400px;
  background-color:#e2e7ec;
  margin:0;
}
.conceptCars{
  max-width:740px;
  height:540px;
  background: linear-gradient(rgba(0,0,0,0) 40%, rgba(0,0,0,0.7)), url('../Images/redCar.png');
  h2{
    width:400px;
    @include text;
    color:white;
    margin-top:30px;
    margin-left:40px;
    font-size: 24px * 1.3;
  }
  p{
    @include text;
    color:#98958e;
    margin-left:40px;
    margin-top:400px;
  }
}
.designInspiration{
  @include blogFormat;
  margin-top:0;
}
.webPhotos{
@include blogFormat;
margin-left:0px;
}
.careerHacks{
h2{
  margin-top:60px;
}
@include blogFormat;
}
.photographyCourse{
@include blogFormat;
}
.contentLoad{
  width:200px;
  margin:auto;
  margin-top:115px;
  img{
    width:26px;
    height:26px;
    display:inline-block;
  }
  p{
    color:#99a5b0;
    @include text;
    padding-top:4px;
    float:right;
    text-align:center;
  }
}

@media (max-width:1200px){
  .conceptCars{
@include center;
    p{
      margin:0;
    padding-top:400px;
    }
    h2{
      font-size:20px;
      max-width:400px;
      margin:0;
      margin-top:10px;
      width:inherit;
    }
  }
.designInspiration{
@include center;
  margin-top:20px;
}
  .webPhotos{
    @include center;
  }
  .careerHacks{
@include center;
  }
.photographyCourse{
@include center;
  }
}
@media (max-width:1000px){
  .conceptCars{
  }
}
