body{
    margin:0;
    padding:0;
    overflow:hidden;
}

h1{
    font-family: 'Lato', sans-serif;
    font-weight:lighter;
    color:#fff;
    position:absolute;
    top:3%;
    right:0;
    transform:translateX(-50%);
    font-size:19px;
}
.slideContainer{
    background-color:white;
    width:10%;
    height:100px;
    z-index:100;
}
.xSlider{
    margin:auto;
    margin-top:20px;
    width:100px;
    display:block;
}